<section class="charts">
            <div class="container-fluid">



</section>
<script type="text/javascript">
var x = document.getElementById("venta_forma_pago_credito");
x.addEventListener("click", tomar_radio, true);


function tomar_radio() {

var x = document.getElementById("venta_forma_pago_credito").value;

if (x.checked = true) {

" #{render 'credito'}  ";
}

}

</script>
