<div class="mdl-cell">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Patient</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <h5>Nombre</h5>
        <p><%= @patient.nombre.capitalize%></p>
        <h5>Apellidos</h5>
        <p><%= @patient.app.capitalize+" "+ @patient.apm.capitalize%></p>
        <h5>Edad</h5>
        <p><%= @patient.edad.capitalize%></p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to "Imprimir PDF",patient_url(@patient, :format => :pdf)%>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">account_circle</i>
        </button>
      </div>
    </div>
</div>